/* style.css */

/* 요소를 화면 가운데 정렬 */
.google-login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh; /* 화면 높이에 맞게 조절 */
  }
  
  /* 로그인 박스 스타일 */
  .login-box {
    text-align: center;
  }
  
  /* 구글 로그인 버튼 스타일 */
  .google-login-button {
    margin-top: 30px;
  }
  