/* 폰트 설정 */
@import url('../../fonts/Font.css');

.header-container {
  display: flex;
  justify-content: space-between; /* 공간을 양쪽으로 분배 */
  align-items: center;
  height: 100px;
  background-color: #091845;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 2rem; /* 좌우에 약간의 여백 추가 */
  z-index: 1000;  /* 헤더가 다른 요소 위에 위치하도록 z-index 설정 */
}

.logo-container {
  flex: 1; /* 로고 컨테이너가 가능한 공간을 차지하도록 설정 */
}

.custom-font {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;  /* 글자 크기를 적절히 조절 */
  font-weight: bold;
  font-style: italic;
}

.custom-font a {
  color: white;  /* 글씨 색상을 흰색으로 변경 */
  text-decoration: none;  /* 밑줄 제거 */
}

.nav-links {
  display: flex;
  justify-content: center; /* 네비게이션 링크를 가운데 정렬 */
  gap: 2rem;  /* 네비게이션 링크 사이의 간격 설정 */
  flex: 2; /* 네비게이션 링크 컨테이너가 가능한 공간을 차지하도록 설정 */
}

.nav-links a {
  color: white;  /* 네비게이션 링크의 글씨 색상을 흰색으로 변경 */
  text-decoration: none;  /* 밑줄 제거 */
  font-size: 1.25rem;  /* 네비게이션 링크의 글자 크기 설정 */
  transition: color 0.3s ease;  /* 마우스 오버 시 색상 전환 효과 */
}

.nav-links a:hover {
  color: #ffd700;  /* 마우스 오버 시 색상 변경 */
}
